---
swagger: "2.0"
info:
  description: "`Swagger`を使用したREST APIのサンプルです\n"
  version: "1.0.0"
  title: "Sentence - Sample REST API"
  termsOfService: ""
host: "node.local-fw.com"
basePath: "/v1/api"
tags:
- name: "Sentence"
  description: "短文"
schemes:
- "https"
consumes:
- "application/json"
- "text/html"
produces:
- "application/json"
- "text/html"
security:
- ApiSecurity:
  - "write:sentence"
  - "read:sentence"
paths:
  /sentences:
    get:
      tags:
      - "Sentence"
      description: "短文一覧取得"
      operationId: "listSentence"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/sentenceList"
        401:
          description: "認証エラー"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "read:sentence"
      x-swagger-router-controller: "Sentence"
    post:
      tags:
      - "Sentence"
      description: "短文追加"
      operationId: "createSentence"
      parameters:
      - in: "body"
        name: "body"
        description: "追加短文情報"
        required: true
        schema:
          $ref: "#/definitions/createSentence"
      responses:
        201:
          description: "OK"
          schema:
            $ref: "#/definitions/insertId"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "作成された短文のリンクURL"
        400:
          description: "リクエスト情報が不正です"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "認証エラー"
        409:
          description: "作成しようとしたリソースが既に登録されています"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "write:sentence"
      x-swagger-router-controller: "Sentence"
  /sentences/list/search:
    post:
      tags:
      - "Sentence"
      description: "短文検索"
      operationId: "searchSentence"
      parameters:
      - in: "body"
        name: "body"
        description: "検索"
        required: true
        schema:
          $ref: "#/definitions/searchSentence"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/sentenceList"
        401:
          description: "認証エラー"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "read:sentence"
      x-swagger-router-controller: "Sentence"
  /sentences/{sentenceId}:
    get:
      tags:
      - "Sentence"
      description: "短文取得"
      operationId: "getSentence"
      parameters:
      - name: "sentenceId"
        in: "path"
        description: "短文ID"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/sentence"
        400:
          description: "リクエスト情報が不正です"
          schema:
            $ref: "#/definitions/error"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "read:sentence"
      x-swagger-router-controller: "Sentence"
    put:
      tags:
      - "Sentence"
      description: "短文更新"
      operationId: "updateSentence"
      parameters:
      - name: "sentenceId"
        in: "path"
        description: "短文ID"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/createSentence"
      responses:
        204:
          description: "OK"
        400:
          description: "リクエスト情報が不正です"
          schema:
            $ref: "#/definitions/error"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "write:sentence"
      x-swagger-router-controller: "Sentence"
    delete:
      tags:
      - "Sentence"
      description: "短文削除"
      operationId: "deleteSentence"
      parameters:
      - name: "sentenceId"
        in: "path"
        description: "短文ID"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "OK"
        400:
          description: "リクエスト情報が不正です"
          schema:
            $ref: "#/definitions/error"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "write:sentence"
      x-swagger-router-controller: "Sentence"
securityDefinitions:
  ApiSecurity:
    type: "oauth2"
    authorizationUrl: "/oauth/authorize"
    tokenUrl: "/oauth/accessToken"
    flow: "accessCode"
    scopes:
      write:sentence: "短文編集権限"
      read:sentence: "短文参照権限"
definitions:
  sentence:
    allOf:
    - $ref: "#/definitions/createSentence"
    - type: "object"
      properties:
        sentenceId:
          type: "string"
          format: "string"
          description: "短文ID"
          maxLength: 64
        userId:
          type: "string"
          format: "string"
          description: "ユーザID"
          maxLength: 64
        sentence:
          type: "string"
          format: "string"
          description: "短文"
        createDate:
          type: "string"
          format: "date-time"
          description: "作成日時"
        updateDate:
          type: "string"
          format: "date-time"
          description: "更新日時"
  sentenceList:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/sentence"
    title: "sentenceList"
  createSentence:
    type: "object"
    required:
    - "sentence"
    properties:
      sentence:
        type: "string"
        format: "string"
        description: "短文"
    title: "createSentence"
  searchSentence:
    type: "object"
    properties:
      sentenceId:
        type: "string"
        description: "短文ID"
        maxLength: 64
      userId:
        type: "string"
        description: "ユーザID"
        maxLength: 64
      sentence:
        type: "string"
        format: "string"
        description: "短文"
      expired:
        type: "string"
        format: "date-time"
        description: "期限切れ日時"
    title: "searchSentence"
  insertId:
    type: "object"
    properties:
      insertId:
        type: "integer"
        format: "int64"
        description: "insertId"
  error:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
      fields:
        type: "string"
parameters:
  sentenceId:
    name: "sentenceId"
    in: "path"
    description: "短文ID"
    required: true
    type: "integer"
    format: "int64"
responses:
  badRequest:
    description: "リクエスト情報が不正です"
    schema:
      $ref: "#/definitions/error"
  unAuthorized:
    description: "認証エラー"
  Confrict:
    description: "作成しようとしたリソースが既に登録されています"
  unexpected:
    description: "予期しないエラー"
    schema:
      $ref: "#/definitions/error"
