---
swagger: "2.0"
info:
  description: "`Swagger`を使用したREST APIのサンプルです\n"
  version: "1.0.0"
  title: "Account - Sample REST API"
  termsOfService: ""
host: "node.local-fw.com:4431"
basePath: "/v1/api"
tags:
- name: "Account"
  description: "ユーザ"
schemes:
- "https"
consumes:
- "application/json"
- "text/html"
produces:
- "application/json"
- "text/html"
security:
- ApiSecurity:
  - "write:account"
  - "read:account"
paths:
  /accounts:
    get:
      tags:
      - "Account"
      description: "ユーザ一覧取得"
      operationId: "listAccount"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/accountList"
        401:
          description: "認証エラー"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "read:account"
      x-swagger-router-controller: "Account"
    post:
      tags:
      - "Account"
      description: "ユーザ追加"
      operationId: "createAccount"
      parameters:
      - in: "body"
        name: "body"
        description: "追加ユーザ情報"
        required: true
        schema:
          $ref: "#/definitions/createAccount"
      responses:
        201:
          description: "OK"
          schema:
            $ref: "#/definitions/insertId"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "作成されたユーザのリンクURL"
        400:
          description: "リクエスト情報が不正です"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "認証エラー"
        409:
          description: "作成しようとしたリソースが既に登録されています"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "write:account"
      x-swagger-router-controller: "Account"
  /accounts/list/search:
    post:
      tags:
      - "Account"
      description: "ユーザ検索"
      operationId: "searchAccount"
      parameters:
      - in: "body"
        name: "body"
        description: "検索"
        required: true
        schema:
          $ref: "#/definitions/searchAccount"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/accountList"
        401:
          description: "認証エラー"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "read:account"
      x-swagger-router-controller: "Account"
  /accounts/{userId}:
    get:
      tags:
      - "Account"
      description: "ユーザ取得"
      operationId: "getAccount"
      parameters:
      - name: "userId"
        in: "path"
        description: "ユーザID"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/account"
        400:
          description: "リクエスト情報が不正です"
          schema:
            $ref: "#/definitions/error"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "read:account"
      x-swagger-router-controller: "Account"
    put:
      tags:
      - "Account"
      description: "ユーザ更新"
      operationId: "updateAccount"
      parameters:
      - name: "userId"
        in: "path"
        description: "ユーザID"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/createAccount"
      responses:
        204:
          description: "OK"
        400:
          description: "リクエスト情報が不正です"
          schema:
            $ref: "#/definitions/error"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "write:account"
      x-swagger-router-controller: "Account"
    delete:
      tags:
      - "Account"
      description: "ユーザ削除"
      operationId: "deleteAccount"
      parameters:
      - name: "userId"
        in: "path"
        description: "ユーザID"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "OK"
        400:
          description: "リクエスト情報が不正です"
          schema:
            $ref: "#/definitions/error"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "write:account"
      x-swagger-router-controller: "Account"
securityDefinitions:
  ApiSecurity:
    type: "oauth2"
    authorizationUrl: "/oauth/authorize"
    tokenUrl: "/oauth/accessToken"
    flow: "accessCode"
    scopes:
      write:account: "ユーザ編集権限"
      read:account: "ユーザ参照権限"
definitions:
  account:
    allOf:
    - $ref: "#/definitions/createAccount"
    - type: "object"
      properties:
        userId:
          type: "integer"
          format: "int64"
          description: "ユーザID"
        screenName:
          type: "string"
          format: "string"
          description: "表示ID"
        name:
          type: "string"
          format: "string"
          description: "表示名"
        createDate:
          type: "string"
          format: "date-time"
          description: "作成日時"
        updateDate:
          type: "string"
          format: "date-time"
          description: "更新日時"
  accountList:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/account"
    title: "accountList"
  createAccount:
    type: "object"
    required:
    - "mail"
    - "name"
    - "password"
    - "screenName"
    properties:
      screenName:
        type: "string"
        description: "リソース表示名"
        maxLength: 128
      name:
        type: "string"
        description: "表示名"
        maxLength: 128
      password:
        type: "string"
        format: "password"
        description: "パスワード"
        maxLength: 256
      mail:
        type: "string"
        format: "mail"
        description: "メールアドレス"
        maxLength: 255
      expired:
        type: "string"
        format: "date-time"
        description: "アカウント期限切れ日時"
    title: "createAccount"
  searchAccount:
    type: "object"
    properties:
      screenName:
        type: "string"
        description: "リソース表示名"
        maxLength: 128
      name:
        type: "string"
        description: "表示名"
        maxLength: 128
      password:
        type: "string"
        format: "password"
        description: "パスワード"
        maxLength: 256
      mail:
        type: "string"
        format: "mail"
        description: "メールアドレス"
        maxLength: 255
      expired:
        type: "string"
        format: "date-time"
        description: "アカウント期限切れ日時"
    title: "searchAccount"
  insertId:
    type: "object"
    properties:
      insertId:
        type: "integer"
        format: "int64"
        description: "insertId"
  error:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
      fields:
        type: "string"
parameters:
  userId:
    name: "userId"
    in: "path"
    description: "ユーザID"
    required: true
    type: "integer"
    format: "int64"
responses:
  badRequest:
    description: "リクエスト情報が不正です"
    schema:
      $ref: "#/definitions/error"
  unAuthorized:
    description: "認証エラー"
  Confrict:
    description: "作成しようとしたリソースが既に登録されています"
  unexpected:
    description: "予期しないエラー"
    schema:
      $ref: "#/definitions/error"
