---
swagger: "2.0"
info:
  description: "`Swagger`を使用したREST APIのサンプルです\n"
  version: "1.0.0"
  title: "Admin - Sample REST API"
  termsOfService: ""
host: "node.local-fw.com:4432"
basePath: "/v1/api"
tags:
- name: "Admin"
  description: "管理者"
schemes:
- "https"
consumes:
- "application/json"
- "text/html"
produces:
- "application/json"
- "text/html"
security:
- ApiSecurity:
  - "write:admin"
  - "read:admin"
paths:
  /admins:
    get:
      tags:
      - "Admin"
      description: "管理者一覧取得"
      operationId: "listAdmin"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/adminList"
        401:
          description: "認証エラー"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "read:admin"
      x-swagger-router-controller: "Admin"
    post:
      tags:
      - "Admin"
      description: "管理者追加"
      operationId: "createAdmin"
      parameters:
      - in: "body"
        name: "body"
        description: "追加管理者情報"
        required: true
        schema:
          $ref: "#/definitions/createAdmin"
      responses:
        201:
          description: "OK"
          schema:
            $ref: "#/definitions/insertId"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "作成された管理者のリンクURL"
        400:
          description: "リクエスト情報が不正です"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "認証エラー"
        409:
          description: "作成しようとしたリソースが既に登録されています"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "write:admin"
      x-swagger-router-controller: "Admin"
  /admins/list/search:
    post:
      tags:
      - "admin"
      description: "ユーザ検索"
      operationId: "searchAdmin"
      parameters:
      - in: "body"
        name: "body"
        description: "検索"
        required: true
        schema:
          $ref: "#/definitions/searchAdmin"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/adminList"
        401:
          description: "認証エラー"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "read:admin"
      x-swagger-router-controller: "Admin"
  /admins/{adminId}:
    get:
      tags:
      - "Admin"
      description: "管理者取得"
      operationId: "getAdmin"
      parameters:
      - name: "adminId"
        in: "path"
        description: "管理者ID"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/admin"
        400:
          description: "リクエスト情報が不正です"
          schema:
            $ref: "#/definitions/error"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "read:admin"
      x-swagger-router-controller: "Admin"
    put:
      tags:
      - "Admin"
      description: "管理者更新"
      operationId: "updateAdmin"
      parameters:
      - name: "adminId"
        in: "path"
        description: "管理者ID"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/createAdmin"
      responses:
        204:
          description: "OK"
        400:
          description: "リクエスト情報が不正です"
          schema:
            $ref: "#/definitions/error"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "write:admin"
      x-swagger-router-controller: "Admin"
    delete:
      tags:
      - "Admin"
      description: "管理者削除"
      operationId: "deleteAdmin"
      parameters:
      - name: "adminId"
        in: "path"
        description: "管理者ID"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "OK"
        400:
          description: "リクエスト情報が不正です"
          schema:
            $ref: "#/definitions/error"
        default:
          description: "予期しないエラー"
          schema:
            $ref: "#/definitions/error"
      security:
      - ApiSecurity:
        - "write:admin"
      x-swagger-router-controller: "Admin"
securityDefinitions:
  ApiSecurity:
    type: "oauth2"
    authorizationUrl: "/oauth/authorize"
    tokenUrl: "/oauth/accessToken"
    flow: "accessCode"
    scopes:
      write:admin: "管理者編集権限"
      read:admin: "管理者参照権限"
definitions:
  admin:
    allOf:
    - $ref: "#/definitions/createAdmin"
    - type: "object"
      properties:
        adminId:
          $ref: "#/definitions/insertId"
        createDate:
          type: "string"
          format: "date-time"
          description: "管理者ID"
        updateDate:
          type: "string"
          format: "date-time"
          description: "管理者ID"
  adminList:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/admin"
    title: "accountList"
  createAdmin:
    type: "object"
    required:
    - "mail"
    - "password"
    - "screen_name"
    properties:
      screen_name:
        type: "string"
        description: "表示名"
        maxLength: 128
      password:
        type: "string"
        format: "password"
        description: "パスワード"
        maxLength: 256
      mail:
        type: "string"
        format: "mail"
        description: "メールアドレス"
        maxLength: 255
      expired:
        type: "string"
        format: "date-time"
        description: "アカウント期限切れ日時"
    title: "createAdmin"
  searchAdmin:
    type: "object"
    properties:
      adminId:
        $ref: "#/definitions/insertId"
      createDate:
        type: "string"
        format: "date-time"
        description: "管理者ID"
      updateDate:
        type: "string"
        format: "date-time"
        description: "管理者ID"
    title: "searchAdmin"
  insertId:
    type: "object"
    properties:
      insertId:
        type: "integer"
        format: "int64"
        description: "insertId"
  error:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
      fields:
        type: "string"
parameters:
  adminId:
    name: "adminId"
    in: "path"
    description: "管理者ID"
    required: true
    type: "integer"
    format: "int64"
responses:
  badRequest:
    description: "リクエスト情報が不正です"
    schema:
      $ref: "#/definitions/error"
  unAuthorized:
    description: "認証エラー"
  Confrict:
    description: "作成しようとしたリソースが既に登録されています"
  unexpected:
    description: "予期しないエラー"
    schema:
      $ref: "#/definitions/error"
